<div class="content-wrapper">
    <section class="content-header">
        <h1>
            仓库管理
            <small>货架管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">仓库管理</a></li>
            <li class="active">货架管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="input-group">
                            <span class="input-group-addon">日期范围</span>
                            <input type="text" v-model="datemin" ref="datemin" id="datemin" class="form-control" style="width:120px;">
                            <input type="text" v-model="datemax" ref="datemax" id="datemax" class="form-control" style="width:120px;margin-left:10px;">
                            <input type="text" v-model="storeId" ref="storeId" id="storeId" style="display:none"> 
                            <select class="form-control" style="width:150px;margin-left:10px;" v-model="ReservoirAreaId" size="1">
                                <option value="">全部</option>
@{ 
    foreach (Wms_reservoirarea item in (Wms_reservoirarea[])ViewData["reservoirAreaList"])
    {
                                <option value="@item.ReservoirAreaId">@item.ReservoirAreaName</option>
    } 
}
                            </select> 
                            <select class="form-control" style="width:150px;margin-left:10px;" v-model="Status" size="1">
                                <option value="">全部</option>
                                <option value="-1">禁用</option>
                                <option value="0">正常</option>
                                <option value="1">空出</option>
                                <option value="2">满入</option>
                            </select>
                            <button name="search" v-on:click="searchL" type="submit" class="btn btn-success" style="margin-left:10px;"><i class="fa fa-search"></i> 搜货架</button>
                        </div>
                        <div id="toolbar" class="btn-group">
                            <!--button id="btn_add" v-on:click="showL" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                            </button-->
                            <button id="btn_edit" v-on:click="editL" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                            </button>
                            <!--button id="btn_delete" v-on:click="deleteL" type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                                </button-->
                            </div>
                            <table id="bootstraptable" class="table table-bordered text-nowrap table-hover"></table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @section scripts{
        <script src="~/js/common.wms.js?ver=2020060701"></script>
        <script type="text/javascript">
            var app = new Vue({
                el: '#app',
                data: {
                    datemin: '',
                    datemax: '',
                    ReservoirAreaId:'',
                    Status: '',
                    storeId: '0'
                },
                mounted: function () {
                    var _self = this;
                    _self.$nextTick(function () {
                        //显示active
                        _self.$refs.StorageRack.parentNode.parentNode.classList.add("active");
                        _self.$refs.StorageRack.classList.add("active");
                        _self.$refs.storeId = '@ViewData["currentStoreId"]';
                        _self.$refs.ReservoirAreaId = null;
                        _self.$refs.Status = null;

                        _self.datemin = "1900-01-01";
                        _self.datemax = "2099-01-01";
                        $('#datemin').datetimepicker({
                            format: 'yyyy-mm-dd',
                            minView: 2,
                            autoclose: true,
                            language: "zh-CN"
                        });
                        $('#datemax').datetimepicker({
                            format: 'yyyy-mm-dd',
                            minView: 2,
                            autoclose: true,
                            language: "zh-CN"
                        });
                        setTimeout(function () {
                            _self.loadL();
                            $("div[class='pull-right search']")[0].children[0].setAttribute("placeholder", "货架编号或名称");
                        }, 500);
                    });
                },
                methods: {
                    loadL: function () {
                        _self = this;
                        var obj = [
                            { checkbox: true, visible: true },
                            { field: 'StorageRackId', title: 'Id', visible: false },
                            { field: 'Status', title: '状态', align: 'center', sortable: true, formatter: StorageRackStatusFormatter },
                            { field: 'StorageRackNo', title: '货架编号', align: 'center', sortable: true },
                            { field: 'StorageRackName', title: '货架名称', align: 'center', sortable: true },
                            { field: 'ReservoirAreaName', title: '所属库区', align: 'center', sortable: true },
                            { field: 'Row', title: '排', align: 'center', sortable: true },
                            { field: 'Column', title: '列', align: 'center', sortable: true },
                            { field: 'Floor', title: '层', align: 'center', sortable: true },
                            { field: 'Remark', align: 'center', title: '备注' },
                            { field: 'CreateUser', title: '创建人', align: 'center', sortable: true },
                            { field: 'CreateDate', align: 'center', title: '创建时间', sortable: true, formatter: DateTimeFormatter },
                            { field: 'ModifiedUser', align: 'center', title: '修改人', sortable: true },
                            { field: 'ModifiedDate', title: '修改时间', align: 'center', sortable: true, formatter: DateTimeFormatter }
                        ];
                        yui.table("bootstraptable", "/StorageRack/List?storeId=@ViewData["currentStoreId"]", obj, "POST", "StorageRackId");
                    },
                    showL: function () {
                        yui.layershow("添加货架", "/StorageRack/Add?storeId=@ViewData["currentStoreId"]", 550, 460);
                    },
                    searchL: function () {
                        var qParams = {
                            datemin: _self.datemin,
                            datemax: _self.datemax,
                            ReservoirAreaId: _self.ReservoirAreaId == "" ? null : _self.ReservoirAreaId ,
                            Status: _self.Status == "" ? null : _self.Status
                        };
                        $("#bootstraptable").bootstrapTable('refresh', { query: qParams });
                    },
                    editL: function () {
                        var arr = $("#bootstraptable").bootstrapTable('getSelections');
                        if (arr.length > 0) {
                            var index = layer.confirm("您确定要修改吗？", { btn: ["确定", "取消"] }, function () {
                                layer.close(index);
                                var id = arr[0].StorageRackId;
                                yui.layershow("修改货架", "/StorageRack/Add?storeId=@ViewData["currentStoreId"]&id=" + id, 550, 460);
                            }, function () {

                            });
                        } else {
                            layer.alert("请选中行", { icoon: 3, skin: "layer-ext-moon" });
                        }
                    },
                    deleteL: function () {
                        var _self = this;
                        var arr = $("#bootstraptable").bootstrapTable('getSelections');
                        if (arr.length > 0) {
                            var index = layer.confirm("您确定要删除吗？", { btn: ["确定", "取消"] }, function () {
                                var id = arr[0].StorageRackId;
                                yui.$axiosget('/StorageRack/Delete?id=' + id)
                                    .then(function (response) {
                                        if (response.data.Item1) {
                                            layer.msg(response.data.Item2 || errorMsg, { icon: 1 });
                                            _self.searchL();
                                        } else {
                                            layer.msg(response.data.Item2 || errorMsg, { icon: 5 });
                                        }
                                    })
                                    .catch(function (error) {
                                        layer.msg(error.message, { icon: 5 });
                                    });
                                layer.close(index);
                            });
                        } else {
                            layer.alert("请选中行", { icoon: 3, skin: "layer-ext-moon" });
                        }
                    }
                }
            });
        </script>
    }
