@section styles{
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            仓库管理
            <small>盘库管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">仓库管理</a></li>
            <li class="active">盘库管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="row" style="padding-bottom:1px;">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">搜索条件</h3>
                        <div class="box-tools pull-right">
                            <button type="button" id="test" class="btn btn-box-tool" data-widget="" data-toggle="tooltip">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="input-group">
                            <input type="text" v-model="storeId" ref="storeId" id="storeId" style="display:none">
                            <span class="input-group-addon">日期范围</span>
                            <input type="text" ref="datemin" id="datemin" class="form-control" style="width:120px;">
                            <input type="text" ref="datemax" id="datemax" class="form-control" style="width:120px;margin-left:10px;">
                            <button name="search" v-on:click="searchL" type="submit" class="btn btn-success" style="margin-left:10px;"><i class="fa fa-search"></i> 搜索</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div id="toolbar" class="btn-group">
                            <button id="btn_addplan" v-on:click="deletePlanL" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>删除盘库计划
                            </button>
                        </div>
                        <table id="bootstraptable" class="table table-bordered text-nowrap table-hover"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/defaults-zh_CN.min.js"></script>
    <script src="~/js/common.wms.js?v=20200615"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                ReservoirareaId: '',
                MaterialTypeId: '',
                MaterialTypeList: '',
                storeId:'0'
            },
            mounted: function () {
                var _self = this;
                _self.$nextTick(function () {
                    //显示active
                    _self.$refs.StockCount.parentNode.parentNode.classList.add("active");
                    _self.$refs.StockCount.classList.add("active");
                    _self.$refs.storeId = '@ViewData["currentStoreId"]';
                    _self.$refs.datemin.value = "1900-01-01";
                    _self.$refs.datemax.value = "2099-01-01";
                    _self.loadL();
                });
            },
            methods: {
                loadL: function () {
                    _self = this;
                    var columns = [
                        { checkbox: true, visible: true }, 
                        {
                            field: 'status', title: '操作', align: 'center', sortable: false,
                            formatter: function (value, row, index) {
                                var html = [];
                                html.push('<button id="doStockCountL" type="button" class="btn btn-link" style="margin-top:-8px;">执行盘库</button>');
                                return html.join('');
                            },
                            events: {
                                'click #doStockCountL': function (e, value, row, index) {
                                    app.doStockCountL(row.stockCountNo);
                                }
                            },
                        }, 
                        { field: 'status', title: '状态', align: 'center', sortable: true, formatter: StockCountStatusFormatter }, 
                        { field: 'stockCountNo', title: '盘库编号', align: 'center', sortable: true }, 
                        { field: 'stockCountDate', title: '盘库日期', align: 'center', sortable: true }, 
                        { field: 'materialCount', title: '盘点物料数量', align: 'center', sortable: true }, 
                        { field: 'stepTotalCount', title: '分解任务总数', align: 'center', sortable: true }, 
                        { field: 'stepFinishCount', title: '分解任务完成数量', align: 'center', sortable: true }, 
                        { field: 'remark', title: '备注' ,align: 'center'},
                        { field: 'createUser', title: '创建人', align: 'center', sortable: true },
                        { field: 'createDate', title: '创建时间', align: 'center',  sortable: true, formatter: DateTimeFormatter },
                        { field: 'modifiedUser', title: '修改人', align: 'center',  sortable: true },
                        { field: 'modifiedDate', title: '修改时间', align: 'center', sortable: true, formatter: DateTimeFormatter }
                    ];    
                    var subColumns = [
                        { field: 'status', title: '状态', align: 'center', sortable: true, formatter: StockCountStatusFormatter },
                        { field: 'materialNo', title: '物料编号', align: 'center', sortable: true },
                        { field: 'materialOnlyId', title: '物料唯一Id', align: 'center', sortable: true },
                        { field: 'materialName', title: '物料名称', align: 'center', sortable: true },
                        { field: 'materialTypeName', title: '物料类型', align: 'center', sortable: true },
                        { field: 'unitName', title: '单位', align: 'center', sortable: true },
                        { field: 'projectedQty', title: '预计数量', align: 'center', sortable: true },
                        { field: 'stockCountQty', title: '盘库数量', align: 'center', sortable: true },
                    ];
                    $("#bootstraptable").bootstrapTable({
                        url: "/StockCount/QueryPlanList",
                        method: "Post",
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        toolbar: '#toolbar', //工具按钮用哪个容器
                        striped: true, //是否显示行间隔色
                        cache: false,
                        sortable: true, //是否启用排序
                        sortOrder: "desc", //排序方式
                        sortName: "stockCountNo",
                        pagination: true, //是否显示分页（*）
                        paginationLoop: true,
                        onlyInfoPagination: false,
                        sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                        maintainSelected: true,
                        pageNumber: 1, //初始化加载第一页，默认第一页,并记录
                        pageSize: 10, //每页的记录行数（*）
                        pageList: [10, 25, 50, 100, 'All'], //可供选择的每页的行数（*）
                        search: true, //是否显示表格搜索
                        strictSearch: false, //设置为 true启用全匹配搜索，否则为模糊搜索。
                        trimOnSearch: true, //设置为 true 将自动去掉搜索字符的前后空格。
                        showPaginationSwitch: false,
                        showColumns: true, //是否显示所有的列（选择显示的列）
                        showHeader: true, //是否显示列头。
                        showFooter: false, //是否显示列脚。
                        showRefresh: true, //是否显示刷新按钮
                        buttonsAlign: "right", //按钮位置
                        singleSelect: true, //设置 true 将禁止多选。
                        clickToSelect: true, //是否启用点击选中行
                        uniqueId: "stockCountNo", //每一行的唯一标识，一般为主键列 
                        queryParams: function (params) {
                            return {
                                limit: params.limit,    //页面大小
                                offset: params.offset,  //页码
                                sort: params.sort,      //排序列名
                                order: params.order,    //排序命令（desc，asc）
                                search: params.search,
                                storeId: '@ViewData["currentStoreId"]'
                            };
                        },
                        columns: columns,
                        detailView: true, //是否显示父子表
                        onExpandRow: function (index, row, $detail) {
                            var parentid = row["materialNo"];
                            var cur_table = $detail.html('<table></table>').find('table');
                            $(cur_table).bootstrapTable({
                                url: "/StockCount/QueryPlanMaterialList?storeId=@ViewData["currentStoreId"]&StockCountNo=" + row.stockCountNo,
                                method: "Post",
                                contentType: "application/x-www-form-urlencoded; charset=UTF-8", 
                                sidePagination: "client",
                                clickToSelect: true, //是否启用点击选中行
                                singleSelect: true,
                                detailView: false,//父子表
                                uniqueId: "materialNo",
                                pagination: true, //是否显示分页（*）
                                pageNumber: 1,
                                pageSize: 10,
                                pageList: [10, 25, 50, 100, 'All'],
                                columns: subColumns, 
                            });
                        }
                    });
                },
                searchL: function () {
                    $("#bootstraptable").bootstrapTable('refresh');
                }, 
                deletePlanL: function (val) {
                },
                doStockCountL: function (stockCountNo) {
                    var idx = layer.open({
                        type: 2, area: ['1000px', '800px'],
                        fix: false, maxmin: true, shade: 0.4, title: "执行盘库",
                        content: "/StockCount/StepList?storeId=@ViewData["currentStoreId"]&StockCountNo=" + stockCountNo,
                        cancel: function () {
                            $("#bootstraptable").bootstrapTable('refresh');
                        }
                    }); 
                    layer.full(idx);
                }
            }
        });
    </script>
}