@section styles{
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            仓库管理
            <small>盘库管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">仓库管理</a></li>
            <li class="active">盘库管理</li>
        </ol>
    </section>
    <section class="content">
        <div class="row" style="padding-bottom:1px;">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">搜索条件</h3>
                        <div class="box-tools pull-right">
                            <button type="button" id="test" class="btn btn-box-tool" data-widget="" data-toggle="tooltip">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="input-group">
                            <input type="text" v-model="storeId" ref="storeId" id="storeId" style="display:none">
                            <select class="form-control" v-model="ReservoirareaId" style="width:120px;margin-left:10px;">
                                <option value="">全部库区</option>
                                @{
                                    if (ViewBag.Reservoirareas != null || ViewBag.Reservoirareas.Count > 0)
                                    {
                                        foreach (var item in ViewBag.Reservoirareas)
                                        {
                                            <option value="@item.ReservoirAreaId">@( item.ReservoirAreaName)</option>
                                        }
                                    }
                                }
                            </select>
                            <select id="ctlMaterialType" class="selectpicker" v-model="MaterialTypeId" data-live-search="true"></select>
                            <input type="text" ref="productionplanid" id="productionplanid" class="form-control" style="width:300px;margin-left:10px;" placeholder="生产令号">
                            <input type="text" ref="materialname" id="materialname" class="form-control" style="width:300px;margin-left:10px;" placeholder="料箱编号/物料名称/物料编号">
                            <button name="search" v-on:click="searchL" type="submit" class="btn btn-success" style="margin-left:10px;"><i class="fa fa-search"></i> 搜索</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div id="toolbar" class="btn-group">
                            <button id="btn_countall" v-on:click="countallL" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>全部盘库
                            </button>
                            <button id="btn_count" v-on:click="countL" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>指定盘库
                            </button>
                        </div>
                        <table id="bootstraptable" class="table table-bordered text-nowrap table-hover"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/defaults-zh_CN.min.js"></script>
    <script src="~/js/common.wms.js"></script>
    <script type="text/javascript">
         

        $(function () {
            $('#ctlMaterialType').on('show.bs.select', function (e, clickedIndex, isSelected, previousValue) {
                var divdom = $("div[class='bs-searchbox']")[0].childNodes[0];
                $(divdom).on("input propertychange", function () {
                    var dom = $("li[class='no-results']");
                    var text = divdom.value;
                    if (dom.length > 0) {
                        app.searchMaterialType(text, 2);
                    }
                    if (app.MaterialTypeList.length <= 0) {
                        app.searchMaterialType(text, 2);
                    }
                });
            });
        });

        var app = new Vue({
            el: '#app',
            data: {
                ReservoirareaId: '', 
                MaterialTypeId: '',
                MaterialTypeList: '',
                storeId:'0'
            },
            mounted: function () {
                var _self = this;
                _self.$nextTick(function () {
                    //显示active
                    _self.$refs.StockCount.parentNode.parentNode.classList.add("active");
                    _self.$refs.StockCount.classList.add("active");
                    _self.$refs.storeId = '@ViewData["currentStoreId"]'; 

                    $("#ctlMaterialType").selectpicker({
                        noneSelectedText: '请选择型号',
                    });
                    yui.$axiosget('/BasicInfo/GetMaterialTypes?storeId=@ViewData["currentStoreId"]')
                        .then(function (response) {
                            if (!response.data.isSccuess) { 
                                layer.msg(response.data.message || errorMsg, { icon: 5 });
                                return;
                            }
                            _self.MaterialTypeList = response.data.data;
                            _self.searchMaterialType('',1); 
                        })
                        .catch(function (error) { 
                        });


                    setTimeout(function () {
                        yui.getDomById("test").click();
                        //$("div[class='pull-right search']")[0].children[0].setAttribute("placeholder", "物料编号或名称");
                    }, 500);
                   
                });
            },
            methods: {
                searchMaterialType: function (val,type) {
                    var _self = this;
                    var html = "<option value=''>请选择型号</option>";
                    for (var item in _self.MaterialTypeList) {
                        html += "<option value='" + _self.MaterialTypeList[item].dictId + "' >" + _self.MaterialTypeList[item].dictName + "</option>"
                    }
                    var ctlMaterialType = $("#ctlMaterialType");
                    if (type !== 1) {
                        ctlMaterialType.empty();
                    }
                    ctlMaterialType.append(html)
                    ctlMaterialType.selectpicker('refresh');
                },
                searchInventoryBox: function (val, type) {
                    var _self = this;
                    if (type === 1) {
                        _self.url = "/StockCount/Search?storeId=@ViewData["currentStoreId"]";
                    } else {
                        _self.url = "/StockCount/Search?storeId=@ViewData["currentStoreId"]&text=" + val;
                    }
                    yui.$axiosget(_self.url).then(function (res) {
                        _self.InventoryBoxList = res.data.rows;
                        var html = "<option value=''>请选择</option>";
                        for (var item in _self.InventoryBoxList) {
                            html += "<option value='" + _self.InventoryBoxList[item].InventoryBoxId + "' " + "data-subtext='" + _self.InventoryBoxList[item].InventoryBoxNo + "'>" + _self.InventoryBoxList[item].InventoryBoxName + "</option>"
                        }
                        if (type !== 1) {
                            $("#InventoryBoxId").empty();
                        }
                        $("#InventoryBoxId").append(html)
                        $('#InventoryBoxId').selectpicker('refresh'); 
                    }).catch(function (res) {
                    });
                },
                loadL: function () {
                    _self = this;
                    var obj = [
                        { checkbox: true, visible: true },
                        { field: 'Reservoirarea', title: '库区', align: 'center', sortable: true },
                        { field: 'Row', title: '行', align: 'center', sortable: true },
                        { field: 'Floor', title: '排', align: 'center', sortable: true },
                        { field: 'Column', title: '列', align: 'center', sortable: true },
                        { field: 'InventoryBoxNo', title: '货架编号', align: 'center', sortable: true },
                        { field: 'InventoryBoxNo', title: '料箱编号', align: 'center', sortable: true }, 
                        { field: 'Size', title: '格号', align: 'center', sortable: true },
                        { field: 'MaterialNo', title: '物料编号', align: 'center', sortable: true },
                        { field: 'MaterialName', title: '物料名', align: 'center', sortable: true },
                        { field: 'MaterialType', title: '物料类型', align: 'center', sortable: true },
                        { field: 'Qty', title: '数量', align: 'center', sortable: true },  
                        { field: 'Remark', align: 'center', title: '备注' },
                        { field: 'CreateUser', title: '创建人', align: 'center', sortable: true },
                        { field: 'CreateDate', align: 'center', title: '创建时间', sortable: true, formatter: DateTimeFormatter },
                        { field: 'ModifiedUser', align: 'center', title: '修改人', sortable: true },
                        { field: 'ModifiedDate', title: '修改时间', align: 'center', sortable: true, formatter: DateTimeFormatter }
                    ];
                    var qParams = {
                    };
                    yui.table("bootstraptable", "/InventoryBox/List", obj, "POST", "InventoryBoxId", true, qParams);
                },
                showL: function () {
                    yui.layershow("添加料箱", "/InventoryBox/Add?storeId=@ViewData["currentStoreId"]", 550, 600);
                },
                searchL: function () {
                    $("#bootstraptable").bootstrapTable('refresh');
                }, 
                countL: function (val) { 
                },
                countallL: function (val) {
                    var _self = this;
                    var index = layer.confirm("您确定要盘库吗？", { btn: ["确定", "取消"] }, function () {
                        var data = {
                            inventoryBoxId: val,
                        };
                        yui.$axiospostform('/InventoryBox/DoInventoryBoxOut', data)
                            .then(function (response) {
                                if (response.data.isSccuess) {
                                    layer.msg(response.data.message, { icon: 1, time: 1000 });
                                } else {
                                    layer.msg(response.data.message || errorMsg, { icon: 5 });
                                }
                                _self.searchL();
                                layer.close(index);
                            })
                            .catch(function (error) {
                                layer.close(index);
                            });
                    });
                },
                BackL: function (val) {
                    yui.layershow("料箱归库操作", "/InventoryBox/BoxBack?storeId=@ViewData["currentStoreId"]&inventoryBoxId=" + val, 1000, 800);
                },
            }
        });
    </script>
}